.inputvalues-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	background-color: #E6E6E6;
	margin: auto;
	width: 100%;
	max-width: 600px;
	height: 100%;
}

.inputvalues-item {
	text-align: center;
	padding: 2rem;
}

.inputvalues-item h1{
	font-size: 1.15em;
	text-align: left;
}

.inputvalues-input {
	background-color: #FFF;
	font-size: 1.25em;
    border: 0;
    padding: 2px;
}

.inputvalues-input input {
	background-color: #FFF;
	width: 65px;
	font-size: 0.9em;
    border: 0;
    outline: none;
}

@media screen and (min-width: 624px) {
	.inputvalues-item {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
