.charts-container {
	display:flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: content-box;
	width: 100%;
	max-width: 900px;
	height: 500px;
	margin: auto;
	padding-bottom: 6rem;
}

.charts-container p{
	font-size: 2em;
	text-align: center;
	padding: 2rem 1rem 0 1rem;

}

.charts-custom-tooltip {
	background-color: #FFF;
	border: 1px solid #B9B9B9;
	padding: 0.75rem;
}

.charts-custom-tooltip p{
	font-size: 1em;
	padding: 0;
}

.charts-custom-tooltip .charts-label{
	font-size: 1.5em;
	padding-bottom: 0.75rem;
	margin: auto;
	border-bottom: 1px solid #000;
}

.charts-custom-tooltip .charts-label-total{
	color: #9A9A9A;
}

.charts-custom-tooltip .charts-label-contributions{
	color: #82CA9D;
}

.charts-custom-tooltip .charts-label-interest{
	color: #FFC658;
}

.charts-blue-text{
	color: #0DB7ED;
}

.charts-red-text{
	color: #F50A0A;
}

@media screen and (min-width: 768px) {
	.charts-container p{
		font-size: 2.25em;
	}

	.charts-custom-tooltip p{
		font-size: 1.5em;
		padding:0;
	}

	.charts-custom-tooltip .charts-label{
		font-size: 2em;
	}
}
