.description-container {
	width: 100%;
	max-width: 900px;
	text-align: left;
	margin:auto;
	padding: 1rem;
}

.description-container h2{
	font-size: 2.5em;
	margin: 0;
	padding-top: 1rem;
}

.description-container p{
	font-size: 1.5em;
	margin: 0;
	padding-bottom: 1rem;
}

.description-container p a{
	color: #000;
	text-decoration: underline;
}

@media screen and (min-width: 768px) {
	
}