.typeswitcher-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 3rem 1rem 3rem 1rem;
	background-color: #1BE300;
}

.typeswitcher-container button{
	font-size: 2em;
	padding: 1rem;
	margin: 1rem;
	background: none;
	cursor: pointer;
	outline: none;
	border-radius: 6px;
	background-color: #1ACD01;
	transition: all 0.3s ease 0s;
}

.typeswitcher-container button:hover{
	box-shadow: 0px 10px 15px #1ACD01;
	transform: translateY(-2px);
}