.typeswitcher-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1.5rem;
	background-color: #1BE300;
}

.typeswitcher-container button{
	width: 150px;
	font-size: 1.4em;
	padding: 0.4rem;
	margin: 0 1rem 0 1rem;
	background: none;
	cursor: pointer;
	outline: none;
	border-radius: 6px;
	background-color: #1ACD01;
	transition: all 0.3s ease 0s;
}

.typeswitcher-container button:hover{
	box-shadow: 0px 10px 15px #1ACD01;
	transform: translateY(-2px);
}